.type-snow {
    background-color: #89cff0;
}
.type-basic {
    background-color: #e2eaf4;
    color: hsl(0,0%,10%);
}
.type-desert {
    background-color: #ffcca1;
    color: hsl(0,0%,10%);
}
