.type-snow {
    background-color: #89cff0;
}
.type-basic {
    background-color: #e2eaf4;
    color: hsl(0,0%,10%);
}
.type-desert {
    background-color: #ffcca1;
    color: hsl(0,0%,10%);
}
.type-purple {
    background-color: #A020F0;
    color: hsl(0,0%,10%);
}
.type-swamp {
    background-color: #748500;
    color: hsl(0,0%,10%);
}
