body {
    background-color: hsl(0,0%,10%);
}
* {
    color: hsl(0,0%,96%)
}
.card-info {
    font-weight: 300;
    color: hsl(0,0%,10%);
}
._card-header {
    font-weight: 500;
    color: hsl(0,0%,10%);
}
.card {
    background-color: #996633;
}
.flower-image {
    border: 20px solid #cc9966;
    border-radius: 30px;
}
